.card {
    /*margin: 10px 10px;*/
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
display: flex;
    background-color: rgba(231, 233, 235, 0.5);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
      -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
      position: relative;
}

.cover {
    width: 100%;
    
}

.imageContainer {
    width: 15%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.title, .titleComprado {
    font-weight: bold;
    font-size: 1rem;
    word-wrap: break-word;
    vertical-align: top;
    margin: 0;
    display: inline-block;
    margin-bottom: 10px;
}

.titleComprado {
    margin-bottom: 0;
}

.detailsContainer {
    width: 50%;
}

.label {
    font-weight: bold;
}

.prices {
    width: 25%;
    margin-left: 5%;
    display: inline-block;
    
}



.price {
    display: block;
}

.precio, .detail {
    float: right;
}

.precioOriginal {
    float: right;
    text-decoration: line-through;
}



.moneda {
    font-weight: bold;
}

.labelDetail{
    font-weight: 500;
}


.temperaments {
    padding-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
    .card {width: 20%;
    }
}

@media only screen and (max-width: 992px) {
    .card {width: 25%;
    }
}
@media only screen and (max-width: 850px) {
    .card {width: 40%;
    }
}


@media only screen and (max-width: 576px) {
    .card {width: 100%;
    }
}



.quitarDeCesta {
    width: 10%;
}

.quitarDeCestaButton {
    color: #2962ff;
    text-align: end;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    background-color: transparent;
}

.iconDumb {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}
.textDumb {
    vertical-align: middle;
}

.enlace, .enlace:link, .enlace:visited, .enlace:hover, .enlace:active {
    text-decoration: none;
    color: #000; 
    width: 85%;
    margin-right: 5%;
    display: flex;
}

.enlaceComprado, .enlaceComprado:link, .enlaceComprado:visited, .enlaceComprado:hover, .enlaceComprado:active {
    text-decoration: none;
    color: #000; 
    width: 100%;
    padding: 1% 2%;
    display: flex;
    text-align: start;
}


.pricesComprado {
    width: 25%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.textAlign {
    text-align: center;
    width: 100%;
}

.monedaComprado {
    width: 50%;
    font-weight: bold;
}

.precioComprado {
    width: 50%;
    text-align: end;
}    

.down {
    width: 100%;
    display: flex;
}