@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.calendarContainer {
  display: grid;
  position: center;
  font-family: "Poppins", sans-serif;
}

.score {
  float: left;
  width: 9%;
  margin-top: 31%;
  margin-left: 1%;
}
.star {
  float: left;
  width: 7%;
  margin-top: 30%;
  margin-left: 41%;
}
.scrolldown {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 49%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scrolldown::before,
.scrolldown::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s ease-in-out infinite;
}
.scrolldown::after {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scrolldown {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: visible;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.icon {
  position: absolute; /*or fixed*/
  right: 0px;
  height: 1%;
  margin-right: 30px;
}
.image_icon {
  height: 70px;
}
.profile {
  border-radius: 70px;
}
.h4Prof {
  color: white;
}
.sectionOne {
  color: white;
  background-color: #00b0ff;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.sectionTwo {
  background-color: #c8c8c8;
  height: 110vh;
  justify-content: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.sectionThree {
  background-color: #63ff9c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.agregaDisponibilidad {
  background-color: #2962ff;
  color: white;
  font-weight: 500;
  padding: 10px;
  font-size: 1.1rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid transparent;
}


.agregaDisponibilidad:hover {
box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
-webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.agregaDisponibilidad:disabled {
  background-color: #99b2f5;
}

/* .profile {
  border-radius: 50%;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
 */
