.inline {
    display: inline;
}

.navbar {
  background-color: #fff; 
  border-bottom: 1px;
  box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
  -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.padding {
  padding: 0 12px;
}

.aLaDerecha {
  align-self: flex-start;
}

.container {
  flex-direction: column;
}


.iconDumb {
  vertical-align: middle;
  font-size: 1.5rem;
  margin-right: 5px;
}

.enlaceCesta, .enlaceInicio {
  text-decoration: none;
}

.color {
  color: #000 !important;
}

.enlace a, .enlace a:link, .enlace a:focus, .enlace a:disabled, .enlace a:visited, .enlace a:hover, .enlace a:active {
  color: #000 !important
}

.botonswal {
  background-color: #2962ff;
  color: white;
  font-weight: 500;
  padding: 10px;
  font-size: 1rem;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid transparent;
}

.botonswal:hover {
box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
-webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.botonswal:disabled {
  background-color: #99b2f5;
}
