.inline {
    display: inline;

}

.navbar {
    height: 10vh;
    background-color: #fff; 
    border-bottom: 1px;
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
      -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
    }