.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    height: 80px;
}

.list{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    list-style: none;
}